*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    
    font-size: 15px;
    align-items: center;
    color: white;
    
}
#navbar ul {
    list-style-type: none;
}
#navbar ul li {
    display: inline-block;
    margin: 2px;
}
#menu{
    display:none;
    position: absolute;
    top:3px;
    right: 3px;
}
.line{
    width: 15px;
    height: 2px;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 2px;
}
#above-image{
    height: 30vh;
    width: 100%;
    background-color: #E4F1F7;
    border: 2px solid green;
}
#pic{
    height: 22vh;
    width: 22vh;
    position: relative;
    top: -11vh;
    display: block;
    margin: auto;
    border-radius: 99px;
    box-shadow: 10px 10px 10px lightcyan;
}

#ccImg{
    height: 6vh;
    width: 6vh;
    display: block;
    margin: auto;
}
.heading{
    text-align: center;
    margin-bottom:10vh;
    color: cadetblue;
    border-bottom: 2px solid green;
    /* border-top: 2px solid green; */ 
    background-color: #E4F1F7;
}
.achDes{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box{
    width: 20vw;
    border-radius: 15px;
    border: 0.5px solid green;
    background-color: #E4F1F7;
    padding: 12px;
    margin-bottom: 4px;
}
.box p{
    margin:3vh ;
}
@media all and (max-width:480px){
    #menu{
        display:block;
    }
    #navbar{
        flex-direction: column;
    }
    #navbar ul li{
        display: block;
        
    }
    #navbar ul{
        display: none;
    }
    #logo{
        width: 100%;
    }
    .container{
        flex-direction: column;
        
        
    }
    .box{
        width: 70vw;
        margin: auto;
    }
}
