*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.box p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
strong{
    color: orange;
}
#nd{
    display: inline;
    border: 1.5px solid orange;
    padding: 6px;
    border-radius: 50px;
}
#footer{
    display: flex;
    background-color: rgb(243, 222, 184);
    padding: 3px;
    justify-content: center;
}


body{
    background-color: whitesmoke;
}
#navbar{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke	;
    border-bottom: 2px solid orange;
    font-size:20px;
    align-items: center;
    color: black;
    width: 100%;
    padding: 10px;
    position: fixed;
}
#options  a{
    text-decoration: none;
    color: black;
}
#navbar ul {
    list-style-type: none;
}
#navbar ul li {
    display: inline-block;
    margin: 2px;
    font-size: 15px;
}
#menu{
    display:none;
    position: absolute;
    top:13px;
    right: 3px;
}
.line{
    width: 17px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 2px;
}

#pic{
    position: relative;
    top: 6vh;
    display: block;
    margin: auto;
    border-radius: 200px;
    z-index: 1;
    /* background-image: url(Images/background.jpg); */
}
.center{
    display: block;
    margin: auto;
}
#ccImg{
    
    
    display: block;
    width: 64px;
    margin: auto;
    margin-top: 4px;
}
.block
{
    position: relative;
    top: -4vh;
    z-index: -2;
}
.heading{
    text-align: center;
    padding: 3vh;
    color: black;
}
.achDes{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.box{
    width: 20%;
    border-radius: 15px;
    border: 0.5px solid orange;
    background-color:white;
    margin: 5%;
    padding: 5px;
}

.box p{
    margin:3vh ;
}
.headCenter{
    text-align: center;
}
@media all and (max-width:500px){
    #menu{
        display:block;
    }
    
    #navbar{
        flex-direction: column;
    }
    #navbar ul li{
        display: block;
        padding: 5px;
        
        text-align: center;
        border: 2px;

    }
    #navbar ul{
        display: none;
        width: 100%;
    }
    #logo{
        width: 100%;
    }
    .container{
        flex-direction: column;
        align-items: center;
        
    }
    .box{
        width: 70vw;
        margin-bottom: 4vh;
        margin-top: 4vh;
    }
    
}
