*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke	;
    border-bottom: 2px solid orange;
    font-size:20px;
    align-items: center;
    color: black;
    
}
#navbar ul {
    list-style-type: none;
}
#navbar ul li {
    display: inline-block;
    margin: 2px;
    font-size: 15px;
}
#menu{
    display:none;
    position: absolute;
    top:3px;
    right: 3px;
}
.line{
    width: 17px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
    margin-bottom: 2px;
}
#above-image{
    height: 20vh;
    width: 100%;
    background-color: #F6EBD7;
    
}
#pic{
    height: 22vh;
    width: 22vh;
    position: relative;
    top: -11vh;
    display: block;
    margin: auto;
    border-radius: 99px;
    /* box-shadow: 10px 10px 10px lightcyan; */
}
.center{
    display: block;
    margin: auto;
}
#ccImg{
    height: 6vh;
    width: 6vh;
    display: block;
    margin: auto;
}
.heading{
    text-align: center;
    padding: 3vh;
    color: black;
    border-bottom: 2px solid orange;
    /* border-top: 2px solid green; */ 
    /* background-color: ; */
}
.achDes{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:#F6EBD7;
}
.box{
    width: 20vw;
    border-radius: 15px;
    border: 0.5px solid orange;
    background-color:white;
    padding: 12px;
    margin:7vh;
}
.box p{
    margin:3vh ;
}
.headCenter{
    text-align: center;
}
@media all and (max-width:480px){
    #menu{
        display:block;
    }
    #navbar{
        flex-direction: column;
    }
    #navbar ul li{
        display: block;
        
    }
    #navbar ul{
        display: none;
    }
    #logo{
        width: 100%;
    }
    .container{
        flex-direction: column;
        
        
    }
    .box{
        width: 70vw;
        margin: auto;
        margin-bottom: 4vh;
        margin-top: 4vh;
    }
}
